doctype html
html
	head
		title='Karin Rou'
		script(src='/javascripts/jquery-1.11.0.min.js')
		script(src='/javascripts/lightbox.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/lightbox.css')
	body
		block content
