doctype html
html
	head
		title='Karin Rou'
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src='/javascripts/lightbox.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/lightbox.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')

	body
		block content
